<div class="portfolio-container">
  <!-- Hero Section -->
  <section class="hero-section">
    <div class="hero-content">
      <div class="hero-text">
        <h1 class="hero-title">Hi, I'm Max 👋</h1>
        <p class="hero-description">
          Junior Software Developer. I'm a recent graduate and I'm looking to start my career in software development.
        </p>
      </div>
      <div class="hero-image">
        <img
          src="assets/Posch_5.jpg"
          alt="Profile Picture"
          class="profile-img"
        />
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="about-section">
    <h2 class="section-title">About</h2>
    <p class="about-text">
      This January, I completed my military service as a <span class="highlight">Sniper</span> in the Austrian Army. Prior to that, I graduated from the <span class="highlight">HTL Leoben, with a focus on information technology and smart production</span>.
      In previous projects, I developed a web application for internal cost tracking on construction sites using Angular, created Discord bots for automation tasks used by <span class="highlight">over 300 users</span>, built Twitch bots to enhance stream interaction, and implemented various API integrations into these projects.
    </p>
  </section>

  <!-- Work Experience Section -->
  <section class="work-section">
  <h2 class="section-title">Work Experience</h2>

  <div
    *ngFor="let job of workExperience; let i = index"
    class="experience-row group"
    (click)="toggleWorkExperience(i)"
  >
    <div class="experience-header">
      <div class="experience-left">
        <img [src]="job.logo" class="experience-logo" />
        <div>
          <h3 class="experience-company">
            {{ job.company }}

            <svg
              class="chevron"
              [class.open]="job.expanded"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>
          </h3>

          <div class="experience-role">{{ job.role }}</div>
        </div>
      </div>

      <div class="experience-period">{{ job.period }}</div>
    </div>

    <ul
      class="experience-details"
      [class.open]="job.expanded"
    >
      <li *ngFor="let item of job.description">
        {{ item }}
      </li>
    </ul>
  </div>
</section>


  <!-- Education Section -->
<section class="education-section">
  <h2 class="section-title">Education</h2>

  <div
    *ngFor="let edu of education; let i = index"
    class="experience-row group"
    (click)="toggleEducation(i)"
  >
    <div class="experience-header">
      <div class="experience-left">
        <img [src]="edu.logo" class="experience-logo" />

        <div>
          <h3 class="experience-company">
            {{ edu.institution }}

            <svg
              class="chevron"
              [class.open]="edu.expanded"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>
          </h3>

          <div class="experience-role">
            {{ edu.degree }}
          </div>
        </div>
      </div>

      <div class="experience-period">
        {{ edu.period }}
      </div>
    </div>

    <ul
      class="experience-details"
      [class.open]="edu.expanded"
    >
      <li *ngFor="let item of edu.description">
        {{ item }}
      </li>
    </ul>
  </div>
</section>


  <!-- Projects Section -->
  <section class="projects-section">
  <h2 class="section-title">My Projects</h2>

  <div class="projects-list">
    <div
      *ngFor="let project of projects"
      class="project-row"
  (click)="openProject(project)"
    >
      <div class="project-text">
        <h3 class="project-title">{{ project.title }}</h3>

        <p class="project-description">
          {{ project.description | slice:0:160 }}{{ project.description.length > 160 ? '...' : '' }}
        </p>
        <!--
        <div class="project-tags">
          <span
            *ngFor="let tag of project.tags"
            class="project-tag"
          >
            {{ tag }}
          </span>
        </div>-->

        <div class="project-links">
          <a
              *ngIf="project.github"
              [href]="project.github"
              class="project-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
</svg>
              GitHub
            </a>
            <a
              *ngIf="project.demo"
              [href]="project.demo"
              class="project-link demo"
              target="_blank"
              rel="noopener noreferrer"
            >
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-btn-fill" viewBox="0 0 16 16">
  <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2m6.79-6.907A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"/>
</svg>            Demo
          </a>
        </div>
      </div>

      <div class="project-image">
        <img
          [src]="project.image"
          [alt]="project.title"
        />
      </div>
    </div>
  </div>
</section>


  <!-- Skills Section -->
  <section class="skills-section">
    <h2 class="section-title center">My Skills</h2>

    <!-- Tabs -->
    <div class="skills-tabs">
      <button
        *ngFor="let tab of skillTabs"
        [class.active]="activeTab === tab"
        (click)="setActiveTab(tab)"
        class="skill-tab"
      >
        {{ tab }}
      </button>
    </div>

    <!-- Skills Grid -->
    <div class="skills-grid" [@listAnimation]="activeTab">
      <div
        *ngFor="let skill of activeSkills"
        class="skill-card"
      >
        <span class="skill-name">{{ skill.name }}</span>

        <div>
          <img
          [src]="'../../assets/skill-icons/' + skill.icon"
          [alt]="skill.name" style="max-width: 2.5rem;height: 2.5rem;object-fit: contain;display: block"
        />
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="contact-section">
    <h2 class="section-title center">Get in Touch</h2>
    <p class="contact-description">
      Please contact me directly at
      <a href="mailto:max05posch@gmail.com" class="email-link">
        max05posch@gmail.com
      </a>
      or through this form.
    </p>

    <form (ngSubmit)="onSubmit()" class="contact-form">
      <input
        type="email"
        [(ngModel)]="contactForm.email"
        name="email"
        placeholder="Your email"
        class="form-input"
        required
      />
      <textarea
        [(ngModel)]="contactForm.message"
        name="message"
        placeholder="Your message"
        rows="5"
        class="form-textarea"
        required
      ></textarea>
      <button type="submit" class="form-button">
        Send Message
      </button>
    </form>
  </section>

  <!-- Footer Social Links -->
  <footer class="footer">
    <div class="footer-nav">
      <a
        href="/"
        class="nav-link"
        aria-label="Home"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-house" viewBox="0 0 16 16">
          <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
        </svg>
      </a>
      <a target="_blank"
        href="https://github.com/qBaumi"
        class="nav-link"
        aria-label="github"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-github" viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
        </svg>
      </a>
      <a
        href="#contact"
        class="nav-link"
        aria-label="contact"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-envelope" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
        </svg>
      </a><!--
      <button
        class="nav-link theme-toggle"
        (click)="toggleTheme()"
        aria-label="Toggle theme"
      >
        <svg *ngIf="isDarkMode" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-moon-stars" viewBox="0 0 16 16">
          <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"/>
          <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
        </svg>
        <svg *ngIf="!isDarkMode" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-brightness-high" viewBox="0 0 16 16">
          <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
        </svg>
      </button>-->
    </div>
  </footer>
</div>
